.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: tomato;
  color: white;
}

.new-content-badge {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
}
